<%- include("./partials/header") %>
  <section class="nested">
    <section class="location-section">
      <div class="container">
        <div class="popup" id="popup1">
          <div class="popup-inner">
            <h3>Scores:</h3>
            <p>
              Username: placeholder <br />
              Score: placeholder <br />
              Congratulations! You have achieved a new high score! Why don't
              you have some pizza to celebrate!
            </p>
            <a href="#" class="button">Close</a>
          </div>
        </div>
        <a href="/score" class="button">Check Your Score</a>
        <form action="" id="form">
          <div class="lat-form">
            <input type="number" autocomplete="on" name="lattitude" placeholder="Lattitude" />
          </div>
          <div class="long-form">
            <input type="number" autocomplete="on" name="longitude" placeholder="Longitude" />
          </div>
          <button class="button" id="submit">Submit</button>
          <input type="reset" /> <br />
          <label for="sort">Sort By:</label>
          <select id="sort" name="sort">
            <option value="best_match">Best Match</option>
            <option value="rating">Ratings</option>
            <option value="review_count">Review Counts</option>
            <option value="distance">Distance</option>
          </select>
          <div class="form-group">
            <label for="result-label">Input:</label>
            <label id="result">Please enter a valid input.</label>
          </div>
        </form>
        <div class="address">
          <div id="restaurants-display"></div>
        </div>
      </div>
    </section>

    <section class="map">
      <div id="map"></div>
    </section>
  </section>

  <footer>
    <p>
      PIZZA RADAR Created by: Peter Van, Kenny Tran, Sam Le , Abhinav Arora
    </p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script defer src="js/index.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT8_8cCx9L5rbooqW26KV5jDXTHANqOMI&"></script>
  </body>

  </html>