<%- include("./partials/header") %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Scores</title>
    <link rel="stylesheet" href="./css/score.css" />
  </head>

  <body>
    <div class="center">
      <h1>Your Score</h1>

      <div class="txt_field">
        <div class="congrats-txt">
          <p> Congratulations! You have achieved a new high score! Why don't
            you have some pizza to celebrate!</p>
        </div>
        
          <h4>Username:</h4> <h7>root1</h7><br>
          <h4>Score:</h4> <h7>500</h7><br>
        
            
      </div>
        
      
  </body>
</html>
