@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background: #413e3e;
  font-family: "Open Sans";
  width: auto;
}

.nested {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}

.navbar {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#af3b3b),
    to(#f06b12)
  );
  padding: 0;
  height: 17vh;
  width: auto;
}

.navbar .logoimg {
  height: 8vh;
  width: 8vh;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: red;
  font-size: 6vh;
}

.navbar .logo span {
  color: white;
}

.navbar .logoline {
  border: 3px solid white;
  width: 200vh;
  color: white;
}

.navbar span {
  color: white;
}

#navbutton {
  padding: auto;
  width: 20%;
  height: 50px;
  border: 3px solid;
  background: rgba(0, 0, 0, 0);
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

#navbutton:hover {
  border-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

footer {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#af3b3b),
    to(#f06b12)
  );
  padding: 20px;
  text-align: center;
  color: white;
}

.foot {
  text-align: center;
}

.foot .line {
  border: 3px solid white;
  width: 200vh;
}

.location-section {
  background: #4d4747;
  width: 100%;
  height: 100vh;
  padding: 1vh;
  display: -ms-grid;
  display: grid;
  grid-row: auto;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.location-section input[type="number"] {
  border: 2px solid gray;
  padding: 0.3vh;
  margin: 5px 0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-appearance: textfield;
}

.location-section input[type="reset"] {
  margin-top: 3px;
  padding: 0.3vh;
  background-color: rgb(175, 59, 59);
  color: white;
  border-radius: 8px;
  border-color: rgb(175, 59, 59);
  width: 9vh;
  height: 100;
}

.location-section #sort {
  margin-top: 3px;
  padding: 0.3vh;
  background-color: rgb(175, 59, 59);
  color: white;
  border-radius: 8px;
  border-color: rgb(175, 59, 59);
  width: 9vh;
  height: 100;
}

.location-section .button {
  margin-top: 3px;
  padding: 0.3vh;
  background-color: #af3b3b;
  color: white;
  border-radius: 8px;
  border-color: #af3b3b;
  width: 9vh;
  height: 100;
}

.location-section label {
  color: white;
  font-size: 14px;
}

.location-section .address {
  display: -ms-grid;
  display: grid;
  width: 90vh;
  height: 75vh;

  border-radius: 8px;
  padding: 8px;
  overflow: auto;
}

.location-section #restaurants-display {
  color: white;
}

.location-box {
  font-size: 24px;
  border-radius: 25px;
  background: rgb(175, 59, 59);
  padding: 20px;
  height: 125px;
}

/*.nav-section {
  background: rgb(63, 60, 60);
  width: 50%;
  //height: 100vh;
  display: grid;
  float: left;
  //grid-column: 1/3;
}*/
.map #map {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */
